* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body {
  background-color: #ddd;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.c-player {
  display: block;
  background-color: #fff;
  border-radius: 10px;
}

.c-player--details img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 25em;
}

.c-player--details h3 {
  font-size: 32px;
  text-align: center;
}

.c-player--details h4 {
  font-size: 20px;
  text-align: center;
}

.c-player .next-up {
  text-align: center;
  margin-bottom: 10px;
}

.c-player--controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.c-player--controls .play-button,
.c-player--controls .skip-button {
  display: flex;
  margin: 0 30px;
  padding: 20px;
  box-shadow: 0px 50px rgba(255, 255, 255, 0.5);
  border: none;
  font-size: 25px;
  border-radius: 50%;
}

.c-player--controls .play-button.playing {
  background-color: green;
}

.c-player--controls .play-button.not-playing {
  background-color: red;
}
